<ion-view view-title="Busqueda">
  <ion-content class="padding busqueda">
    <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>
         <div id="contenedor">

            <table border="1"  id="tabla">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>URL</th>
                        <th>Publicado el</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
  </ion-content>
</ion-view>
